{% extends 'basic/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="content">
<div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Add A New Service</h4>
              </div>
              <div class="card-body">
                     <form action="{% url 'service' %}" method='POST'>
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Name:</label>
                        {% render_field form.name class="form-control" placeholder="Enter your name" %} 
                      </div>
                    </div>
                    <div class="col-md-3 px-1">
                      <div class="form-group">
                        <label>Price</label>
                        
                          {% render_field form.price class="form-control" id="exampleFormControlSelect1" %} 
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Duration</label>
                        {% render_field form.duration class="form-control" placeholder="Enter your email" %} 
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Member Price</label>
                        {% render_field form.mprice class="form-control" placeholder="Your Age" %}
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Gender</label>
                        {% render_field form.gender class="form-control" placeholder="Enter your Phone Number" %}
                      </div>
                    </div>
                  </div>
                  
                  
                <button type='submit' value='submit' class='btn btn-primary btn-round'>Submit </button>
                </form>
              </div>
            </div>
          </div>
         
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">All Services</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Price
                      </th>
                      <th>
                        Duration
                      </th>
                      <th>
                        Special Price
                      </th>
                      
                      <th>
                        Gender
                      </th>
                      
                      <th class="text-center">
                        Action
                      </th>
                    </thead>
                    <tbody>
                    {% for i in service  %}
                      <tr>
                        <td>
                          {{i.name}}
                        </td>
                        <td>
                          {{i.price}}
                        </td>
                        <td>
                        {{i.duration}}
                        </td>
                        <td>
                          {{i.mprice}}
                        </td>
                        <td>
                        {{i.gender}}
                        </td>
                        <td class="text-right" >
                                <a href="#" class="btn btn-primary btn-round">Update</a>
                                <a href="#" class="btn btn-danger btn-round">Delete</a>    
                        </td>
                      </tr>
                     {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
{% endblock content %}
