{% extends 'basic/base.html' %}


{% block content %}
     <form method='post'  class="form-inline"  action=''> {% csrf_token %}
            <div class='container px-2 m-5'>
            {{form.name.label}}
            {{form.name}}
            {{form.phone.label}} 
            {{form.phone}}
            
            {{form.category.label}}
            {{form.category}}
            </div>
            <div class='container px-4 m-5'>
            {{form.age.label}}
            {{form.age}}

            {{form.email.label}}
            {{form.email}}
            </div>
            <button type="submit" value="Submit" class='btn btn-primary'>Submit</button>
        </form>
    {% endblock content %}
