<style>
.calendar {
    
    
    margin-top: 20px;
    font-size: 13px;
    object-fit: contain;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid black;
    box-shadow: 2px 2px;
    min-width: 100px;
    min-height: 100px;
  }
  .calendar a{
    
    font-size: 13px;
  }
  .calendar tbody{
     background-color: #fff;
   padding: 20px;
   padding-left: 15%;
   padding-right: 15%;
   overflow: hidden;
  }
  .calendar th {  
    padding: 5px;
    text-align: center;
    font-size: 30px;
  }
  
  .calendar td {
    width: 100px;
    height: 70px;
    padding: 20px 0px 0px 5px;
    font-size: 20px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    
    padding: 5px 5px 5px 20px;
  }
  
 

  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .clearfix {
    margin: 15px;
  }
</style>